*{
    box-sizing: border-box;
}

body{
    height: 100vh;
    background: linear-gradient(hsl(273, 75%, 66%), hsl(240, 73%, 65%));
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 840px;
    min-height: 540px;
    position: relative;
}

main{
    background-color: white;
    width: 65%;
    height: 65%;
    min-width: 800px;
    min-height: 500px;
    border-radius: 20px;
    background-image: url('../images/bg-pattern-desktop.svg');
    background-repeat: no-repeat;
    background-position: top -285px right 650px;
    position: relative;
}
.woman{
    position: absolute;
    top: 15%;
    left: -5%;
}
.box{
    position: absolute;
    top: 40%;
    left: -8.2%;
    z-index: 1;
}

.questions{
    width: 50%;
    height: 100%;
    background-color: red;
    position: absolute;
    right: 0;
    border-radius: 20px;
}

@media (max-width: 500px){
    body{
        min-width: 400px;
        min-height: 800px;
    }
    main{
        width: 85%;
        height: 70%;
        min-width: 370px;
        min-height: 600px;
        position: absolute;
        bottom: 10%;
    }

    .woman{
        top: -20%;
        left: -10%;
    }
    .box{
        top: 0;
        left: -15%;
    }
    
}
