
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body{
    background-color: hsl(0, 0%, 95%);
    height: 100vh;
    min-width: 800px;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
    width:  60%;
    height: 52%;
    min-width: 750px;
    min-height: 480px;
    display: flex;   
    border-radius: 5px;
}

section{
    padding: 5%;
    font-family: 'Lexend Deca', sans-serif;
    font-size: 15px;
}

h1{
    font-family: 'Big Shoulders Display', cursive;
    font-weight: 700;
    font-size: 2.75em;
    text-transform: uppercase;
    color:  hsl(0, 0%, 95%);
    margin: 12% 0;
}

section:first-child{
background-color:  hsl(31, 77%, 52%);
height: 100%;
width: 33.333%;
border-radius: 5px 0 0 5px;

}

#middle{
background-color: hsl(184, 100%, 22%);
height: 100%;
width: 33.333%;
}

section:last-child{
background-color: hsl(179, 100%, 13%);
height: 100%;
width: 33.333%;
border-radius: 0 5px 5px 0;
}

button{
    all: unset;
    height: 3em;
    width: 62%;
    background-color: hsl(0, 0%, 95%);
    text-align: center;
    border-radius: 25px;
}

p{
    color: hsla(0, 0%, 100%, 0.75);
    margin-bottom: 45%;
}
section:first-child > button{
    color:  hsl(31, 77%, 52%);
}

#middle > button{
    color: hsl(184, 100%, 22%);
}

section:last-child > button{
    color:   hsl(179, 100%, 13%);
}

@media  (max-width: 540px){
    body{
        min-height: 1200px;
        min-width: 300px;
        flex-direction: column;
        justify-content: center;
    }
    main{
        min-width: 250px;
        min-height: 1100px;
        height: 90%;
        width: 60%;
        display: flex;   
        flex-direction: column;
    }
    section:first-child{
        width: 100%;
        border-radius: 0;
        border-radius: 5px 5px 0 0;

    }
    section:last-child{
        width: 100%;
        border-radius: 0;
        border-radius: 0 0 5px 5px;
    }
    p{
        margin-bottom: 8%;
    }
    #middle{
        width: 100%;
       
    }
}

