*{
    box-sizing: border-box;
}

body{ 
    font-family: 'League Spartan', Courier, monospace;
    font-size: 16px;
}


.intro{
    background-color: aqua;
    width: 400px;
    height: 250px;
}

h1{
    font-size: 45px;
    font-weight: 700;
}

p{
    line-height: 1.5em;
}

.starReviews{
    background-color: orange;
    width: 520px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
.stars{
    margin-left: 5%;
    flex-basis: 30%;
    display: flex;
    justify-content: space-between;
}
div > span{
    width: 80%;
    height: 25%;    
    background-color: purple;
    border-radius: 5px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: flex-start;

}

span > span{
    font-weight: 700;
    margin-left: 5%;
}

.center{
    align-self: center;
}
.end{
    align-self: flex-end;
}