*{
    box-sizing: border-box;
}

body{ 
    font-family: 'League Spartan', Courier, monospace;
    font-size: 16px;
}


.intro{
    background-color: aqua;
    width: 400px;
    height: 250px;
}

h1{
    font-size: 45px;
    font-weight: 700;
}

p{
    line-height: 1.5em;
}

.starReviews{
    background-color: orange;
    width: 400px;
    height: 230px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

span{
    width: 90%;
    height: 25%;    
    background-color: purple;
    border-radius: 5px;
}