*{
    box-sizing: border-box;
}

body{ 
    font-family: 'League Spartan', Courier, monospace;
    font-size: 16px;
}


div{
    background-color: aqua;
    width: 400px;
    height: 250px;
}

h1{
    font-size: 45px;
    font-weight: 700;
}

p{
    line-height: 1.5em;
}