*{
    box-sizing: border-box;
}

body{
    background-color: aquamarine;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
        min-height: 418px;
        min-width: 370px;
        border-radius: 4%;
        background-color: red;
        background-image: url("../images/bg-pattern-card.svg");
        background-repeat: no-repeat;
        background-size: 100% 40%;
        position: relative;
}