*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Hanken Grotesk', sans-serif;
}
body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
}
main{
    display:flex;
    height: 460px;
    width: 600px;
    border-radius: 30px;
    background-color: #FFFFFF;
}
main > div{
    height: 100%;
    width: 50%;
    padding: 5%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#result{
    background: linear-gradient(#7857ff,#2e2be9);
}
.lavender{
    color: hsl(241, 100%, 89%);
}
.white{
    color: #FFFFFF;
}
#summary{
    background-color: #FFFFFF;
    display: flex;
    justify-content: space-between;
    padding: 5% 4%;
}

#summary > h1{
    align-self: flex-start;
    color: hsl(224, 30%, 27%);
}

#sections{
    height: 70%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    width: 100%;
    background-color: hsl(224, 30%, 27%);
    height: 40px;
    border: none;
    border-radius: 20px;
    color: #FFFFFF;
}

button:hover{
    background: linear-gradient(#7857ff,#2e2be9);
    cursor: pointer;
}
#reaction{
    background-color: hsl(0, 100%, 95%);
    justify-self: flex-start;
}
#memory{
    background-color: hsl(39, 100%, 95%);
}
#verbal{
    background-color: hsl(166, 100%, 95%);
}
#visual{
    background-color: hsl(221, 100%, 95%)
}

.category{
    height: 20%;
    border-radius: 5px;
    display: flex;
    align-items: center;
}
h2{
    margin: 5%;
}

p{
    text-align: center;
}

.circle{
    height: 200px;
    width: 200px;
    background: linear-gradient(#2e2be9, #7857ff);
    border-radius: 50%;
    margin: 10%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.circle > div{
    display: block;
    text-align: center;
}

.result{
    font-size: 60px;
    font-weight: 800;
    color: #FFFFFF;
}

.cobalt-blue{
    color: hsl(234, 85%, 45%);
}

.green-teal{
    color: hsl(166, 100%, 37%);
}

.orangey-yellow{
    color: hsl(39, 100%, 56%);
}

.light-red{
    color: hsl(0, 100%, 67%);
}

.leftMargin{
    margin-left: 5%;
}

.flexEnd{
   margin-left: auto;
   margin-right: 5%;
}


@media (max-width: 600px){
    body{
        min-width: 260px;
    }

    main{
        flex-direction: column;
        height: 920px;
        width:  360px; 
    }

   main > div{
        width: 100%;
    }

}