*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Red Hat Display', sans-serif;
    border: none;
}

body{
    background-color: hsl(225, 100%, 94%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    text-align: center;
}

main{
    height: 70%;
    width: 30%;
    background-color: red;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

section{
    height: 30%;
    width: 100%;
    border-radius: 20px;
    background-color: blue;
}

.cost{
    display: flex;
    flex-direction: column;
    margin-left: 5%;
}

.order{
    display: flex;
    flex-grow: 1;
    padding: 3%;
    background-color:hsl(225, 100%, 98%);
   /* margin: 0 10%;*/
}

main:nth-child(2){
color: blue;
}

#info{
    height: 70%;
    border-radius: 20px;
    margin: 12% 8% 8% 8%;
}

h1{
    font-weight: 900;
    font-size: 1.75em;
    /*margin: 0 25%;*/
    background-color: yellow;
}

p{
    font-weight: 500;
    /*margin: 0 15%;*/
    background-color: green;
}

button, div > span:first-of-type{
    font-weight: 700;
}

.order > span{
    background-color: blue; 
    margin-left: auto;
    align-self: center;
}

button:first-of-type{
    background-color: purple;
   /* margin: 0 10%;*/
    width: 80%;
    height: 10%;
}

