*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: aquamarine;
    height: 100vh;
    min-height: 400px;  
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
    ;
}

main{
    width: 750px;
    height: 300px;
    background-color: red;
    display: flex;
}

#bottomContainer{
    display: flex;
    background-color: red;
    height: 20%;
    width: 100%;
}


#bottomContainer img{
    width: 20%;
    background-color:white;
    height: 100%;
}
.container{
    width: 35%;
}
.name{
    display: flex;
}
img{
    height: 100%;   
    width: 100%;
    
}
section{
    width: 65%;
    height: 100%;
    padding: 4%;
    background-color: blue;
}
div{
    height: 100%;
    width: 50%;
}

@media (min-width: 650px) and (max-width: 750px) {
    body{
        background-color: blue;
    }

    main{
        width: 90%;
        height: 32.33%;
    }
}

@media (max-width: 650px){
    body{
        background-color: orange;
    }
    img{
        height: 100%;
    }
    section, div{
        width: 100%;
        height: 50%;
    }
    main{
        flex-direction: column;
        width: 90%;
        height: 80%;
        margin: 0 5%;
    }
}