*{
    box-sizing: border-box;
}
body{
    height: 100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(30, 38%, 92%);
}
main{
    display: flex;
    height: 500px;
    width: 700px; 
    border-radius: 50px;
}
img{
    border-radius: 4% 0 0 4%;
}
section{
    background-color: white;
    padding: 6%;
    border-radius: 0 4% 4% 0;
}

.dark-cyan{
    color: hsl(158, 36%, 37%);
}

button{
    background-color:  hsl(158, 36%, 37%);
    width: 100%;
    color: hsl(0, 0%, 100%);
    border-radius: 5px;
    height: 13%;
    border: none;
    font-family: 'Montserrat', sans-serif;
}

h1{
    font-family: 'Fraunces', serif;
    font-weight: 700;
    margin: 8% 0;
}
h1{
    font-size: 40px;
}
h2{
    letter-spacing: 10px;
}
h2, p{
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
}
.gray-blue{
    color: hsl(228, 12%, 48%);
}
.current-price{
    font-size: 40px;
    font-family: 'Fraunces', serif;
    font-weight: 700;
}
.old-price{
    text-decoration: line-through;
    align-self: center;
}

div{
    padding: 12% 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

@media (max-width: 500px){
    body{
        background-color: red;
    }
}