/* Box Model Hack */
* {
  box-sizing: border-box;
  font-family: Overpass, sans-serif;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
    background-color: #141519;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

main{
  height: 45%;
  width: 30%;
  background-color: #212832;
  border-radius: 5%;
  padding: 2%;
  display: flex;
  flex-direction: column;
}

svg{
  background-color: red;
  height: 15%;
  width: 15%;
  position: relative;
}

path{
   position: absolute;
   width: 50px;
}

div{
  display: flex;
  width: 80%;
  margin: 0 10%;  
  background-color: orange;
  justify-content: space-evenly;
}

div > button{
  width: 15%;
  height: 40px;
  background-color: #262f38;
  border-radius: 50%  ;
}

#submit{
  width: 80%;
  margin: 0 10%; 
  background-color: #fc7613;
}

h1{
  font-size: 3em;
  font-weight: 700;
  color: #fcffff;
}

p{
  color: #6b727c;
}


/******************************************
/* LAYOUT
/*******************************************/
header {

}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
