*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    background-color: hsl(257, 40%, 49%);
    background-image: url("../images/bg-desktop.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    min-width: 900px;
    font-family: 'Poppins', sans-serif;

}

img[src *="logo"]{
    margin: 5% 0 0 5%;
}

main{
    background-color: red;
    display: flex;
    margin: 5% 5% 0 5%;
    width: 90%;
    height: 65%;
    min-width: 500px;
    min-height: 510px;
}

.mockUp{
    width: 60%;
    height: 100%;
    background-color: aqua;
}

.info{
    width: 40%;
    height: 100%;
    background-color: purple;
    padding: 5% 0 15% 3%;
    color: white;
}
h1{ 
    font-size: 2.5em;
    margin-bottom: 4%;
}


button{
    width: 40%;
    height: 3em;
    font-size: 1.2em;
    border-radius: 30px;
    margin-top: 4%;
}

ul{
    width: 150px;
    height: 50px;
    position: absolute;
    right: 5%;
    margin-top: 1%;
    list-style-type: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul *{
    color: white;
}

li{
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid;
    border-radius: 50% 50%;
}


@media (max-width: 600px){
    
    body{
        min-width: 0;
        background-image: url("../images/bg-mobile.svg");
        background-size: 100% 50%;
        
    }
    main{
        flex-direction: column;
        min-width: 400px;
        height: 800px
    }
    .mockUp, .info{
        width: 100%;
    }

    ul{
        margin-right: 30%;
        margin-left: 30%;
    }


}
